@media(max-width:900px){

.hero{

grid-template-columns:1fr;

text-align:center;

}

.hero-btn{

justify-content:center;

}

nav{

padding:20px;

}

nav ul{

gap:18px;

}

.hero h1{

font-size:48px;

}

.hero-text{

font-size:18px;

}

}